
.home3 {
    height: 1821px;
}

.block_01 {
    height: 518.62px;
    display: flex;
}
.block_02{
    height: 516px;
    display: flex;
    margin-top: 76px;
}
.block_03{
    display: flex;
    height: 682px;
    margin-top: 0;
}
.block_colus_1 {
    flex: 1;
    width: 455.11px;
    height: 323.71px;
}
.block_colus_01 {
    flex: 1;
    width: 649px;
    height: 517px;
}
.h2_text {
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    padding-left: 51.43px;
    text-align: start;
    margin-top: 63px;
}
.p_text, span {
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    padding-left: 51.43px;
    margin-top: 31px;
}
.block_colus_2 {
    flex: 1;
}
.block_colus_02 {
    flex: 1;
    width: 649px;
    height: 517px;
}
.img_right0 {
    width: 668px;
    height: 518px;
    
    background-image: url(/images/Group\ 2268.svg);
}
.img_right2{
    width: 649px;
    height: 517px;
    background-image: url(/images/Group\ 2269.svg);
}
.img_right3{
    width: 682px;
    height: 542px;
    background-image: url(/images/Group\ 2270.svg);
}